/*
style.css

Feuille de style utilisé pour les pages du site pour le club d'échecs : Cavaliers de l'apocalypse.

--------------

Par El Amine MAHAMOUD
Etudiant en BTS SIO première année.

Date : 17/11/2025
Lieu : Lycée Chevrollier
*/

:root {
    --primary-color: #073075;
    /* couleur de fond du logo */
    --secondary-color: #e9ae1b;
    /* couleur du texte du logo et du cavalier */
    --third-color: #0044ad;
    /* couleur du disque du logo */
    --shadow-color: #0000003d;
    --default-box-padding: 20px;
    --text-font: "Story Script";
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Ubuntu;
}

#logo {
    height: 125px;
    width: auto;
}

header,
section>ul {
    display: flex;
    align-items: center;
}

header {
    margin: auto var(--default-box-padding);
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 2px 15px var(--shadow-color);
}

header>h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: auto;
}

section {
    margin: var(--default-box-padding);
    padding: 3px var(--default-box-padding);
    border-radius: 50px;
    box-shadow: 0px 2px 2px 2px var(--shadow-color);
    overflow: hidden;
}

section > p {
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 2px 2px var(--third-color);
}

section > ul {
    padding: 0;
    font-size: x-large;
    list-style: none;
    justify-content: space-evenly;
}

a {
    color: var(--secondary-color);
    text-decoration: underline;
}

main {
    margin: var(--default-box-padding);
    padding: var(--default-box-padding);
    box-shadow: 0px 2px 2px 2px var(--shadow-color);
    border-radius: 30px;
}

.titre-section {
    text-decoration: underline;
    font-size: larger;
}

main>div>blockquote {
    font-style: italic;
    font-weight: bolder;
    font-family: var(--text-font);
    letter-spacing: 3px;
    font-size: larger;
    text-shadow: 0px 2px 2px var(--third-color);
}

hr {
    color: var(--third-color);
}

#main-line {
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container-articles {
    display: flex;
    gap: 30px;
    width: max-content;
    overflow-x: scroll;
    scrollbar-width: none;
}

.container-articles::-webkit-scrollbar {
    display: none;
}

.box-article {
    padding: 5px 20px;
    width: 500px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0px 2px 2px 2px var(--shadow-color);
    background: var(--third-color);
    overflow: hidden;
}

.img-article {
    width: 60%;
}

.text-content {
    font-family: var(--text-font);
    letter-spacing: 2px;
}

.know-more, .date-article {
    font-size: smaller;
}

.know-more::after, .date-article {
    content: "...";
    letter-spacing: 3px;
}