/*
style.css

Feuille de style utilisé pour les pages du site pour le club d'échecs : Cavaliers de l'apocallypse.

--------------

Par El Amine MAHAMOUD
Etudiant en BTS SIO première année.

Date : 17/11/2025
Lieu : Lycée Chevrollier
*/

:root {
    --primary-color: #073075;
    /* couleur de fond du logo */
    --secondary-color: #e9ae1b;
    /* couleur du texte du logo et du cavalier */
    --third-color: #0044ad;
    /* couleur du disque du logo */
    --text-font: "Story Script";
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--third-color);
    color: var(--secondary-color);
    font-family: "Ubuntu";
    scroll-behavior: smooth;
}

#logo {
    height: 125px;
    width: auto;
}

header,
.nav-bar>ul {
    display: flex;
    align-items: center;
}

header {
    background: var(--primary-color);
    margin: auto 20px;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 2px 15px var(--secondary-color);
}

header>h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: auto;
}

.box-infos,
.nav-bar {
    box-shadow: 0px 2px 15px var(--secondary-color);
    border-radius: 20px;
    margin: 20px;
    padding: 3px 20px;
}

.nav-bar {
    background: var(--primary-color);
    border-radius: 50px;
    overflow: hidden;
}

.nav-bar>h3 {
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 2px 2px var(--third-color);
}

.nav-bar>ul {
    padding: 0;
    font-size: x-large;
    list-style: none;
    justify-content: space-evenly;
}

a {
    color: var(--secondary-color);
    text-decoration: underline;
}

main {
    background: var(--primary-color);
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 2px 15px var(--secondary-color);
    border-radius: 30px;
}

.titre-section {
    text-decoration: underline;
}

main>div>blockquote {
    font-style: italic;
    font-weight: bolder;
    font-family: var(--text-font);
    letter-spacing: 3px;
    font-size: larger;
    text-shadow: 0px 2px 2px var(--third-color);
}

hr {
    border: 1px dashed var(--third-color);
    border-radius: 50px;
}

#main-line {
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

article a {
    text-decoration: none;
}

#container-articles {
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: max-content;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.container-articles::-webkit-scrollbar {
    display: none;
}

.box-article {
    padding: 5px 20px;
    width: 500px;
    height: 465px;
    border-radius: 30px;
    box-shadow: 0px 2px 5px var(--secondary-color);
    background: var(--third-color);
}

.article-image {
    width: 60%;
    border-radius: 10px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.text-content {
    font-family: var(--text-font);
    letter-spacing: 2px;
}

.know-more,
.date-article {
    font-size: smaller;
}

.know-more::after,
.date-article {
    content: "...";
    letter-spacing: 3px;
}

footer {
    background: var(--primary-color);
    border-radius: 30px 30px 0 0;
    box-shadow: 0px -2px 15px var(--secondary-color);
    margin: auto 20px;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

footer h3 {
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer>div {
    display: flex;
    flex-direction: row;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

.footer-sub-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 20px;
    text-align: center;
}

.footer-sub-boxes ul {
    width: 80%;
}

#box-social-media ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box-legal-notices ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.download-link {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background: var(--third-color);
    box-shadow: 0px 2px 15px var(--secondary-color);
}

.logo-marque {
    height: 25px !important;
}

#last-lines {
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contenu-article {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-article {
    width: 30% !important;
    border-radius: 20px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.en-tete-texte {
    font-style: italic;
}

#bloc-mention {
    text-align: justify;
}

#tableau-membres {
    border: 2px solid var(--secondary-color);
    border-radius: 3px;
    margin: 20px 0;
    width: 100%;
}

#tableau-membres caption {
    caption-side: top !important;
    text-align: left;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: large;
    font-style: italic;
}

#tableau-membres thead {
    text-align: center;
}

#tableau-membres th,
#tableau-membres td {
    border: 1px solid var(--third-color);
    padding: 10px;
}

#tableau-membres td:first-of-type {
    text-align: left !important;
}

#tableau-membres td {
    text-align: right;
}